body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(201, 218, 218);
    color: brown;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container {
    background-color: white;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3)
}

.input-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 3em 0;
}

input {
    color: brown;
    padding: 12px 16px;
    border-radius: 20px;
    border: 2px solid brown;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
}

input:focus, input:active {
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
    border: 2px solid brown;
    outline: none;
}

button {
    color: white;
    margin: 1px auto;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: brown;
    outline: none; 
}

button:hover {
    box-shadow: 0 .2rem 1.5rem rgba(105, 20, 20, 0.6);
}


span {
    font-size: 80px;    
}
.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 40px;
}