* {
  margin: 0;
  background-color: rgb(223, 217, 217);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 30em;
  height: 40em;
  border-radius: 2em;
}