:root {
  --background-color: rgb(223, 217, 217);
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
  --text-color: blueviolet
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

html {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 30em;
  height: 40em;
  border-radius: 2em;
  box-shadow: var(--box-shadow);
  overflow-y: auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em;
}

h1 {
  text-align: center;
  color: var(--text-color);
  padding: 1rem;
}

.input-field {
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  color: var(--text-color);
  font-weight: 700;
  padding: 0.4rem 0.4rem;
}

button {
  color: white;
  background-color: var(--text-color);
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  height: 4em;
}

input[type=text] {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: medium;
  margin-bottom: 1em;
}